@using PizzaShop.Entity.ViewModels
@model AssignTableViewModel

<div class="offcanvas-header">
    <h5 class="offcanvas-title blue-text" id="offcanvasRightLabel">Waiting List</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body py-0">

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">No. of Persons</th>
                </tr>
            </thead>
            <tbody>
                @foreach (WaitingTokenViewModel token in Model.WaitingList)
                {
                    <tr>
                        <th scope="row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="customerRadio" id="customerRadio-@token.Id"
                                    value="option1" onclick='setData(@Html.Raw(Json.Serialize(token)))'>
                            </div>
                        </th>
                        <td>#@token.Id</td>
                        <td>@token.Name</td>
                        <td>@token.Members</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="pt-3">
        <h5 class="blue-text pb-2">Customer Details</h5>

        <form asp-action="AssignTable" asp-controller="AppTable" method="post" id="assignTableForm">
            <div class="modal-body row">

                <input asp-for="WaitingToken.Id" id="waitingTokenId" hidden>
                <input asp-for="WaitingToken.SectionId" hidden>
                <input asp-for="WaitingToken.CustomerId" id="customerId" hidden >
                <input id="tableList" name="tableList" hidden>

                <div class="form-floating mb-3">
                    <input asp-for="WaitingToken.Email" type="text" class="form-control" placeholder=""
                        id="customerEmail" onblur="GetCustomerDetail(this)">
                    <label asp-for="WaitingToken.Email">Email*</label>
                    <span asp-validation-for="WaitingToken.Email" class="text-danger"></span>
                </div>

                <input asp-for="WaitingToken.CustomerId" id="customerId" hidden>

                <div class="form-floating mb-3">
                    <input asp-for="WaitingToken.Name" type="text" class="form-control" placeholder=""
                        id="customerName">
                    <label asp-for="WaitingToken.Name">Name*</label>
                    <span asp-validation-for="WaitingToken.Name" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="WaitingToken.Phone" type="text" class="form-control" placeholder=""
                        id="customerPhone">
                    <label asp-for="WaitingToken.Phone">Phone*</label>
                    <span asp-validation-for="WaitingToken.Phone" class="text-danger"></span>
                </div>

                <div class="col-6 form-floating mb-3">
                    <input asp-for="WaitingToken.Members" type="number" class="form-control" placeholder=""
                        id="noOfPersons">
                    <label asp-for="WaitingToken.Members">No of Persons*</label>
                    <span asp-validation-for="WaitingToken.Members" class="text-danger"></span>
                </div>

                <div class="col-6 form-floating mb-3">
                    <select asp-for="WaitingToken.SectionId" class="form-select" aria-label="" id="sections" disabled>
                        @foreach (SectionViewModel? sec in Model.WaitingToken.Sections)
                        {
                            <option value="@sec.Id"> @sec.Name</option>
                        }
                    </select>
                    <label asp-for="WaitingToken.SectionId">Section*</label>
                    <span asp-validation-for="WaitingToken.SectionId" class="text-danger"></span>
                </div>

            </div>
            <div class="modal-footer gap-2">
                <button type="submit" class="btn btn-blue">Assign</button>
                <button type="reset" class="btn btn-white">Cancel</button>
            </div>
        </form>
    </div>



</div>