@using PizzaShop.Service.Common
@{
    string? userName = Context.Request.Cookies["userName"];
    string? profileImg = Context.Request.Cookies["profileImg"];
    List<string> permissions = User.Claims.Where(c => c.Type == "permission").Select(c => c.Value).ToList();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

</head>

<body class="bg-grey vh-100">

    <div class="h-100">
        <!-- Navbar starts -->
        <nav class="position-fixed w-100 blue-Navbar">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">

                    <a asp-action="Dashboard" asp-controller="Profile" class="d-flex align-items-center p-2 gap-1">
                        <img class="bg-white" src="~/images/logos/pizzashop_logo.png" alt="pizza shop logo" width="60x">
                        <div class="d-none d-md-block text-white fw-semibold fs-4">PIZZASHOP</div>
                    </a>

                </div>

                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center gap-2">
                        @if (User.IsInRole("Account Manager") || User.IsInRole("Chef"))
                        {
                            <a asp-action="Index" asp-controller="Kot"
                                class="d-flex justify-content-center align-items-center border rounded-5 p-2 gap-1 @((ViewData["app-active"] as string) == "Kot" ? "bg-sky-blue" : "")">
                                <img src="/images/icons/clipboard-fill.svg" alt="">
                                <span class="text-white d-none d-sm-block">KOT</span>
                            </a>
                        }
                        @if (User.IsInRole("Account Manager"))
                        {
                            <a
                                class="d-flex justify-content-center align-items-center border rounded-5 p-2 gap-1 @((ViewData["app-active"] as string) == "Waiting List" ? "bg-sky-blue" : "")">
                                <img src="/images/icons/clock-fill.svg" alt="">
                                <span class="text-white d-none d-sm-block text-nowrap ">
                                    Waiting List
                                </span>
                            </a>
                            <a asp-action="Index" asp-controller="AppTable"
                                class="d-flex justify-content-center align-items-center border rounded-5 p-2 gap-1 @((ViewData["app-active"] as string) == "Tables" ? "bg-sky-blue" : "")">
                                <img src="/images/icons/square-fill-white.svg" alt="">
                                <span class="text-white d-none d-sm-block">
                                    Tables
                                </span>
                            </a>
                            <a class="d-flex justify-content-center align-items-center border rounded-5 p-2 gap-1"
                                @((ViewData["app-active"] as string) == "Menu" ? "bg-sky-blue" : "")>
                                <img src="/images/icons/food-white.svg" alt="" width="16px">
                                <span class="text-white d-none d-sm-block">
                                    Menu
                                </span>
                            </a>
                        }
                    </div>

                    <div class="btn-group">
                        <a type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src=@(profileImg != null ? profileImg : "~/images/Default_pfp.svg.png")
                                class="rounded-circle" alt="profile" height="40px" width="40px">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li class="mb-2 ms-3 d-flex align-items-center">
                                <img class="me-2 rounded-circle" src=@(profileImg != null ? profileImg :
                                                                                                     "~/images/Default_pfp.svg.png") alt="" height="30px" width="30px">
                                <span>@userName</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" asp-action="MyProfile"
                                    asp-controller="Profile">
                                    <img class="me-2 myprofile-icons" src="~/images/icons/person-circle.svg" alt=""
                                        height="24px">
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" asp-action="ChangePassword"
                                    asp-controller="Profile">
                                    <img class="me-2 myprofile-icons" src="~/images/icons/change-password.svg" alt=""
                                        height="20px">
                                    <span>Change Password</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" data-bs-toggle="modal"
                                    data-bs-target="#LogoutModal">
                                    <img class="me-2 myprofile-icons" src="~/images/icons/logout.svg" alt=""
                                        height="20px">
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
        </nav>
        <!-- Navbar ends -->

        <div class="container-fluid bg-grey below-nav-orderApp h-100">
            <div class="h-100">

                <!-- Main content starts-->
                <div class=" px-2 px-md-3 px-lg-4 py-2">
                    <main role="main" class="">
                        @RenderBody()
                    </main>
                </div>
                <!-- Main Content ends -->

                <!-- Logout Modal starts here -->
                <div class="modal fade" id="LogoutModal" data-bs-backdrop="LogoutModal" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="LogoutLabel">Logout</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                                <img src="~/images/icons/warning.svg" alt="" width="50px">
                                <span>Are you sure you want to logout?</span>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <a asp-action="Logout" asp-controller="Profile" type="button"
                                    class="btn btn-blue">Yes</a>
                                <button type="button" class="btn btn-white" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Logout Modal ends here  -->
            </div>
            <!-- Main content ends -->
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ToastrPartialView")
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
