@using PizzaShop.Entity.ViewModels
@model OrderItemViewModel

<tr class="selectedItem" data-id="@Model.ItemId">
    <td onclick="ItemInstruction(@Model.ItemId)">
        <div class="accordion accordion-item">
            <div class="accordion-item">
                <div class="accordion-header d-flex">
                    <button class="accordion-button px-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-@Model.ItemId" aria-expanded="true" aria-controls="collapseOne"
                        style="width: fit-content;" onclick="event.stopPropagation()">
                    </button>
                    <div class="ms-4 ps-1 fs-5">@Model.Name</div>
                </div>
                <div id="collapse-@Model.ItemId" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body p-0">
                        <ul class="mb-2">
                            @foreach (ModifierViewModel? modifier in Model.ModifiersList)
                            {
                                <li>
                                    <div class="d-flex gap-4">
                                        <span>@modifier.Name</span>
                                        <span>₹@modifier.Rate</span>
                                    </div>
                                </li>
                            }
                        </ul>
                        <span class="text-light-blue">Instruction: </span>
                        <span id="itemInstruction-@Model.ItemId"></span>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="item-quantity border d-flex align-items-center gap-0 rounded-2">
            <button type="button" class="btn fs-4 p-0" data-id="@Model.ItemId" onclick='ChangeQuantity(this, -1)'>
                <i class="bi bi-dash"></i>
            </button>
            <input type="text" value="@(Model.Quantity > 0 ? Model.Quantity : 1)" min='@(Model.ReadyQuantity ==0 ? "1" : Model.ReadyQuantity )'
                class="item-quantity-@Model.ItemId text-center bg-white" disabled>
            <button type="button" class="btn fs-4 p-0" data-id="@Model.ItemId" onclick='ChangeQuantity(this, 1)'>
                <i class="bi bi-plus"></i>
            </button>
        </div>
    </td>
    <td class="">
        <div class="fs-5">
            <span>₹</span>
            <span class="itemSum" data-rate="@Model.Price">@((Model.Price * Model.Quantity).ToString("f2"))</span>
        </div>
        <div>
            <span>₹</span>
            <span class="modifierSum" data-rate="@Model.ModifiersList.Sum(m => m.Rate)">@(Model.ModifiersList.Sum(m => m.Rate * Model.Quantity).ToString("f2"))</span>
        </div>
    </td>
    <td>
        <img src="/images/icons/trash.svg" alt="" class=@(Model.ReadyQuantity > 0 ? "d-none" : "") onclick="RemoveItem(@Model.ItemId)">
    </td>
</tr>